* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
}
*::selection {
    color: #fff;
    background-color: #006b41;
}
*::-moz-selection {
    color: #fff;
    background-color: #006b41;
}
.navigationMobileSection {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #bcbcbc;
    padding: 18px 5%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 7;
}
.navigationMobileMenuContainer {
    cursor: pointer;
}
.navigationMobileSearchContainer {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 36px;
    margin-left: 64px;
}
.navigationMobileSearchInput {
    background-color: rgba(255, 255, 255, 0);
    border: #fff 2px solid;
    border-radius: 10px;
    width: 100%;
    height: 36px;
    outline: none;
    padding: 0 38px 0 12px;
    color: #fff;
    font-size: 16px;
}
.navigationMobileSearchIcon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.headerContainer {
    background-image: url(../images/header_bg.fw.png);
    width: 100%;
    height: 128px;
    margin-top: 48px;
    display: flex;
    justify-content: center;
}
.headerLogo {
    background-color: #fff;
    padding: 0 18px;
    -webkit-user-select: none;
    user-select: none;
}
.headerNavigationContainer {
    margin: 24px auto 0;
    width: 1008px;
    max-width: 95%;
    border: #006b41 2px solid;
    display: flex;
    justify-content: space-between;
    padding: 0 28px;
}
.headerLink {
    font-size: 25px;
    font-weight: 500;
    color: #006b41;
    text-decoration: none;
    padding: 18px 32px;
    position: relative;
}
.headerLinkHover {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid #006b41;
    opacity: 0;
    transition: opacity .3s;
}
.headerLinkActive {
    opacity: 1;
}
.headerLink:hover .headerLinkHover {
    opacity: 1;
}
.headerMobileNavigationBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    z-index: 8;
}
.headerMobileNavigationContainer {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #fff;
    width: 85%;
    height: 100vh;
    z-index: 9;
    transition: left .2s;
}
.headerMobileNavigationContainerLink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5% 16px;
    height: 42px;
    color: #000;
    border-radius: 4px;
    font-size: 18px;
    text-decoration: none;
    background-color: #ededed;
}
.headerMobileNavigationContainerLink1 {
    margin-top: 48px;
}
.headerMobileNavigationContainerLink:hover {
    background-color: #bcbcbc;
    color: #fff;
}
.headerMobileNavigationContainerAuthor {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}
.titleSection {
    width: 1064px;
    max-width: 95%;
    margin: auto;
    margin-top: 44px;
}
.titleTitle {
    text-align: center;
    font-weight: 600;
    width: 900px;
    max-width: 95%;
    font-size: 42px;
    margin: auto;
}
.titleSubtitle {
    text-align: center;
    width: 900px;
    max-width: 95%;
    font-size: 22px;
    font-weight: 500;
    margin: 18px auto 0;
}
.registrationFormSection {
    width: 532px;
    max-width: 98%;
    margin: 44px auto 102px;
    position: relative;
}
.registrationFormTitle {
    font-size: 42px;
    font-weight: 600;
    color: #ef2b2f;
}
.registrationFormContainer {
    margin: 8px 0 0 0;
    width: 532px;
    max-width: 100%;
    background-color: white;
    box-shadow: 4px 4px 10px 5px rgba(0,0,0,.33);
    border-radius: 6px;
    padding: 42px;
}
.registrationFormInputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 23px;
    position: relative;
}
.registrationFormInputLabel {
    font-size: 24px;
    font-weight: 600;
}
.registrationFormInputInput {
    width: 346px;
    height: 54px;
    background-color: #ededed;
    border: none;
    padding: 16px 48px 16px 16px;
    font-size: 24px;
    outline: none;
}
.registrationFormInputValidatorIcon {
    font-size: 22px;
    position: absolute;
    right: 16px;
    top: 11px;
    -webkit-user-select: none;
    user-select: none;
}
.registrationFormInputMessage {
    display: none;
    margin: 8px 0 0 102px;
    font-size: 18px;
    font-weight: 500;
    color: #ef2b2f;
}
.registrationFormMobileContainer {
    display: none;
}
.registrationFormDateContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
}
.registrationFormDateDates {
    position: relative;
}
.registrationFormDateDatesContainer {
    display: flex;
    flex-wrap: wrap;
}
.registrationFormDateSelect {
    background-color: #ededed;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    padding: 9px 16px 9px 12px;
    cursor: pointer;
    margin: 0 0 0 6px;
}
.registrationFormDateSelectArrow {
    position: absolute;
    pointer-events: none;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #ef6c00;
    background-color: #ededed;
    box-shadow: 11px 0px 0px 1px #ededed;
}
.registrationFormGenderContainer {
    display: none;
}
.registrationFormGenderCheckContainer {
    display: flex;
}
.registrationFormGenderFemaleContainer {
    position: relative;
    font-size: 16px;
    margin: 0 32px 0 30px;
}
.registrationFormGenderMaleContainer {
    position: relative;
    font-size: 16px;
    margin: 0 32px 0 30px;
}
#registrationFormGenderCheckFemale {
    width: 0;
    height: 0;
}
#registrationFormGenderCheckMale {
    width: 0;
    height: 0;
}
.registrationFormGenderCheckFemale {
    position: absolute;
    top: 0px;
    left: -30px;
    background-color: #ededed;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}
.registrationFormGenderCheckMale {
    position: absolute;
    top: 0px;
    left: -30px;
    background-color: #ededed;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}
.registrationFormGenderFemaleContainer input:checked ~ .registrationFormGenderCheckFemale {
    background-color: #ef6c00;
    border: #ededed 5px solid;
}
.registrationFormGenderMaleContainer input:checked ~ .registrationFormGenderCheckMale {
    background-color: #ef6c00;
    border: #ededed 5px solid;
}
.registrationFormEULAContainer {
    padding: 18px 0 0 103px;
}
.registrationFormEULAContainer label {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    z-index: 2;
}
#registrationFormEULACheck {
    width: 0;
    height: 0;
}
.registrationFormEULACheck {
    position: absolute;
    top: 0px;
    left: -30px;
    width: 20px;
    height: 20px;
    background-color: #ededed;
    border-radius: 4px;
    z-index: 2;
}
.registrationFormEULAContainer label input:checked ~ .registrationFormEULACheck {
    background-color: #ef6c00;
    border: #ededed 6px solid;
}
.registrationFormSubmitContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.registrationFormSubmit {
    background-color: #ef2b2f;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 14px 64px;
    margin-top: 28px;
    cursor: pointer;
    transition: background-color .15s;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
}
.registrationFormSubmit:hover {
    background-color: #d22629;
}
.registrationCards {
    position: absolute;
    bottom: -102px;
    left: -128px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
.registrationSubmittedBackground {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}
.registrationSubmittedContainer {
    background-color: #fff;
    width: 420px;
    max-width: 90%;
    border-radius: 4px;
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: registrationSubmittedContainer .5s cubic-bezier(0.18, 0.89, 0.32, 1.28) .8s 1 forwards;
    transform: scale(0);
}
@keyframes registrationSubmittedContainer {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.registrationSubmittedIcon {
    width: 64px;
    fill: #006b41;
}
.registrationSubmittedTitle {
    font-size: 24px;
    margin-top: 18px;
}
.searchSection {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: relative;
}
.searchLoadingTitle {
    display: none;
    font-family: impact;
    font-size: 2.5em;
    color: white;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 2px 5px #000;
}
.searchLoadingImage {
    display: none;
    width: 100%;
    max-width: 768px;
    padding: 12px 10%;
    border-radius: 4px;
}
.searchLoadingButton {
    display: none;
    font-size: 14px;
    color: #ef2b2f;
    margin-top: 100px;
    cursor: pointer;
    text-decoration: none;
}
.searchLoading {
    display: none;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border-top: #d22629 solid 4px;
    border-right: #d22629 solid 4px;
    border-bottom: #d22629 solid 4px;
    border-left: #fff solid 4px;
    margin-bottom: 32px;
    animation: searchLoading 5s linear;
}
@keyframes searchLoading {
    0% {transform: rotate(0deg);}
    20% {transform: rotate(360deg);}
    20.001% {transform: rotate(0deg);}
    40% {transform: rotate(360deg);}
    40.001% {
        transform: rotate(0deg);
        border-top: #ef6c00 solid 4px;
        border-right: #ef6c00 solid 4px;
        border-bottom: #ef6c00 solid 4px;
    }
    60% {transform: rotate(360deg);}
    60.001% {transform: rotate(0deg);}
    80% {transform: rotate(360deg);}
    80.001% {
        transform: rotate(0deg);
        border-top: #006b41 solid 4px;
        border-right: #006b41 solid 4px;
        border-bottom: #006b41 solid 4px;
    }
    100% {transform: rotate(360deg);}
}
.footerSection {
    background-color: #006b41;
    width: 100%;
}
.footerWrapper {
    width: 1064px;
    max-width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 32px 0;
}
.footerContainer {
    display: flex;
    flex-direction: column;
}
.footerTitle {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 14px;
}
.footerLink {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}
/* 
#
# laptop 992px media query
#
#
 */
@media screen and (max-width: 992px) {
    .headerNavigationContainer {
        padding: 0;
    }
}
/* 
#
# tablet 768px media query
#
#
 */
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .navigationMobileSection {
        display: flex;
    }
    .headerNavigationContainer {
        display: none;
    }
    .titleSection {
        max-width: 90%;
    }
    .titleTitle {
        text-align: left;
        max-width: 100%;
    }
    .titleSubtitle {
        text-align: left;
        max-width: 100%;
    }
    .registrationFormSection {
        width: 90%;
        margin: 44px auto 0;
        overflow: hidden;
    }
    .registrationFormContainer {
        margin: 0 0 224px 0;
        width: 100%;
        max-width: 100%;
        background-color: none;
        box-shadow: none;
        padding: 18px 0;
    }
    .registrationFormInputContainer {
        flex-direction: column;
        justify-content: normal;
        align-items: normal;
        margin-bottom: 16px;
    }
    .registrationFormInputLabel {
        font-weight: 500;
        margin-bottom: 6px;
    }
    .registrationFormInputInput {
        width: 100%;
        font-weight: 500;
    }
    .registrationFormInputValidatorIcon {
        top: 45px;
    }
    .registrationFormInputMessage {
        margin: 8px 0 0 0;
    }
    .registrationFormMobileContainer {
        display: flex;
    }
    .registrationFormDateContainer {
        flex-direction: column;
        justify-content: normal;
        align-items: normal;
        margin-bottom: 16px;
    }
    .registrationFormDateSelect {
        margin: 0 14px 0 0;
    }
    .registrationFormDateSelectArrow {
        right: 26px;
    }
    .registrationFormGenderContainer {
        display: flex;
    }
    .registrationFormEULAContainer {
        padding: 16px 0 0 30px;
    }
    .registrationFormSubmit {
        width: 100%;
    }
    .registrationCards {
        bottom: 0;
        left: auto;
        right: 0;
        height: auto;
        max-width: 100%;
    }
    .footerWrapper {
        max-width: 75%;
        flex-direction: column;
        align-items: center;
    }
    .footerContainer {
        margin-bottom: 20px;
        border-bottom: #4c9779 1px solid;
    }
    .footerContainerLast {
        margin-bottom: 0;
        border-bottom: none;
    }
    .footerTitle {
        margin-bottom: 8px;
        width: 250px;
        text-align: center;
    }
    .footerLink {
        display: none;
    }
}